name: C CI

on:
  push:
    branches: [ devops ]
    
defaults:
  run:
    working-directory: ./akdb/src
    
jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: make
      run: make
    - name: make doc
      run: make doc
